@import "~bootstrap/scss/bootstrap";
$font-stack: papyrus, sans-serif;
$primary-color: #582B08;

body {
  font: 100% $font-stack;
  color: $primary-color;
  animation: pulse 10s 1;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #582B08;
  }
}

button{
  background-color: #E49B0F;
}
