
body{
    background-color: #582B08;
    color: #ffffff;
}

/*header{
    background-color: #111111;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}*/

